<%- include('../shared/header.ejs') %>
<article>
  <h2>Final Project For Software Quality Control</h2>
  <footer>
    <p>'&copy;' 2023 Beizeng Vue Software Quality Control - Greece &amp; Babylon</p>
  </footer>
</article>
<%- include('../shared/footer.ejs') %>