<%- include('../shared/header.ejs') %>
<img width="100%"
  src="/images/top/vertical/0.jpg"
  alt="Samurai defending himself with a go board" title="Sato Tadanobu, a Samurai of the Twelfth Century, Defending Himself with a “Goban,” when Attacked by His Enemies.">
<article>
  <p>
    Learn to play the abstract board game Go (also called
    Igo, Baduk, and Weiqi).
  </p>
</article>
<%- include('../shared/footer.ejs') %>
