<%- include('../shared/header.ejs') %>
  <article>
    <h2>Welcome!</h2>
    <footer>
      <p>&copy; 2023 Beizeng Vue Software Quality Control - Greece & Babylon</p>
    </footer>
  </article>
<%- include('../shared/footer.ejs') %>
